name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: |
        docker build \
        -f app/Dockerfile \
        -t appointment-service:latest \
        app
    - name: Save Docker image
      run: |
        docker save appointment-service:latest | gzip > image.tar.gz

    - name: Upload image artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: image.tar.gz

  trivy-scan:
    name: Trivy Image Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download image artifact
      uses: actions/download-artifact@v4
      with:
        name: docker-image

    - name: Load Docker image
      run: |
        gunzip -c image.tar.gz | docker load

    - name: Trivy Scan
      uses: aquasecurity/trivy-action@0.24.0
      with:
        image-ref: appointment-service:latest
        severity: CRITICAL,HIGH
        format: table
        exit-code: 1
